<!--banner area start-->
<section class="banner_area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="single_banner banner_fullwidth">
                    <div class="banner_thumb">
                        <a href="#"><img src="~/img/bg/banner5.jpg" alt=""></a>
                        <div class="banner_text">
                            <h2>The best learning academy</h2>
                            <h3>Enroll with us</h3>
                            <p>Get a discount on first time enrollment and save up to 80%</p>
                            <a asp-page="/ContactUs">Enroll Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--banner area end-->