@* <div id="menu" class="text-left ">
    <ul class="offcanvas_main_menu">
        <li class="menu-item-has-children">
            <a href="#">Home</a>
            <ul class="sub-menu">
                <li><a href="index.html">Home 1</a></li>
            </ul>
        </li>
        <li class="menu-item-has-children">
            <a href="#">Courses</a>
            <ul class="sub-menu">
                <li class="menu-item-has-children">
                    <a href="#">Latest Courses</a>
                    <ul class="sub-menu">
                        <li><a href="shop.html">Course 1</a></li>
                        <li><a href="shop-fullwidth.html">Course 2</a></li>
                        <li><a href="shop-fullwidth-list.html">Course 3</a></li>
                        <li><a href="shop-right-sidebar.html">Course 4</a></li>
                        <li><a href="shop-right-sidebar-list.html">Course 5</a></li>
                        <li><a href="shop-list.html">Course 6</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Hot Courses</a>
                    <ul class="sub-menu">
                        <li><a href="cart.html">Course 1</a></li>
                        <li><a href="wishlist.html">Course 2</a></li>
                        <li><a href="checkout.html">Course 3</a></li>
                        <li><a href="my-account.html">Course 4</a></li>
                        <li><a href="404.html">Course 5</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Medicine Courses</a>
                    <ul class="sub-menu">
                        <li><a href="product-details.html">Course 1</a></li>
                        <li><a href="product-sidebar.html">Course 2</a></li>
                        <li><a href="product-grouped.html">Course 3</a></li>
                        <li><a href="variable-product.html">Course 4</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu-item-has-children">
            <a href="#">Universities</a>
            <ul class="sub-menu">
                <li><a href="blog.html">University 1</a></li>
                <li><a href="blog-details.html">University 2</a></li>
                <li><a href="blog-fullwidth.html">University 3</a></li>
                <li><a href="blog-sidebar.html">University 4</a></li>
            </ul>
        </li>
        <li class="menu-item-has-children">
            <a href="#">Collages </a>
            <ul class="sub-menu">
                <li><a href="about.html">Collage 1</a></li>
                <li><a href="services.html">Collage 2</a></li>
                <li><a href="faq.html">Collage 3</a></li>
                <li><a href="login.html">Collage 4</a></li>
                <li><a href="compare.html">Collage 5</a></li>
            </ul>
        </li>
        <li class="menu-item-has-children">
            <a href="my-account.html">my account</a>
        </li>
        <li class="menu-item-has-children">
            <a href="about.html">About Us</a>
        </li>
        <li class="menu-item-has-children">
            <a href="contact.html"> Contact Us</a>
        </li>
    </ul>
</div> *@


<div class="main_menu">
    <nav>
        <ul>
            <li>
                <a href="index.html">home<i class="fa fa-angle-down"></i></a>
                <ul class="sub_menu">
                    <li><a href="index.html">Home 1</a></li>
                </ul>
            </li>
            <li class="mega_items">
                <a href="shop.html">Courses<i class="fa fa-angle-down"></i></a>
                <div class="mega_menu">
                    <ul class="mega_menu_inner">
                        <li>
                            <a href="#">Latest Courses</a>
                            <ul>
                                <li><a href="shop-fullwidth.html">Course 1</a></li>
                                <li><a href="shop-fullwidth-list.html">Course 2</a></li>
                                <li><a href="shop-right-sidebar.html">Course 3 </a></li>
                                <li><a href="shop-right-sidebar-list.html"> Course 4</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Hot Courses</a>
                            <ul>
                                <li><a href="cart.html">Course 1</a></li>
                                <li><a href="wishlist.html">Course 2</a></li>
                                <li><a href="checkout.html">Course 3</a></li>
                                <li><a href="my-account.html">Course 4</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Medicine Courses</a>
                            <ul>
                                <li><a href="product-details.html">Course 1</a></li>
                                <li><a href="product-sidebar.html">Course 2</a></li>
                                <li><a href="product-grouped.html">Course 3</a></li>
                                <li><a href="variable-product.html">Course 4</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">Discounted Courses</a>
                            <ul>
                                <li><a href="shop.html">Course 1</a></li>
                                <li><a href="shop-list.html">Course 2</a></li>
                                <li><a href="shop-fullwidth.html">Course 3</a></li>
                                <li><a href="shop-fullwidth-list.html">Course 4</a></li>
                                <li><a href="shop-right-sidebar.html">Course5</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="banner_static_menu">
                        <a href="shop.html"><img src="~/img/bg/banner1.jpg" alt=""></a>
                    </div>
                </div>
            </li>
            <li>
                <a href="blog.html">Universities<i class="fa fa-angle-down"></i></a>
                <ul class="sub_menu pages">
                    <li><a href="blog-details.html">University 1</a></li>
                    <li><a href="blog-fullwidth.html">University 2</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Collages <i class="fa fa-angle-down"></i></a>
                <ul class="sub_menu pages">
                    <li><a href="about.html">Collage 1</a></li>
                    <li><a href="services.html">Collage 2</a></li>
                    <li><a href="faq.html">Collage 3</a></li>
                    <li><a href="login.html">Collage 4</a></li>
                </ul>
            </li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html"> Contact Us</a></li>
        </ul>
    </nav>
</div>