<!--slider area start-->
<section class="slider_section slider_two mb-50">
    <div class="slider_area owl-carousel">
        <div class="single_slider d-flex align-items-center" data-bgimg="/img/slider/slider4.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h2 style="color:white;">Next Generation Academy</h2>
                            <h1 style="color:white;">The Best and most trusted learning source in middle east</h1>
                            <a class="button" asp-page="/ContactUs">Enroll now</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="/img/slider/slider5.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h2 style="color:white;">Best prices</h2>
                            <h1 style="color:white;">Get &250 In Total Discount On A New Set Of Tries</h1>
                            <a class="button" asp-page="/ContactUs">Enroll now</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="/img/slider/slider6.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h2 style="color:white;">Over 15,000 Students</h2>
                            <h1 style="color:white;">Our satisfied students are more than happy to share thier experience</h1>
                            <a class="button" asp-page="/ContactUs">Enroll now</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--slider area end-->