@page
@model nexgen.Web.RazorPages.Pages.AboutModel
@{
    ViewData["Title"] = "about";
}

<div class="one-whole column">
    <h1 class="center">
    </h1>
    <div class="feature_divider"></div>
</div>

<div class="
        three-fourths
        columns
        medium-down--one-whole
        offset-by-two
        is-hidden-offset-mobile-only
        page
      ">
    <div class="container equal-columns--clear">
        <div class="one-whole columns small-down—one-whole">
            <h3 style="text-align: center;"><strong><em></em></strong></h3>
        </div>
    </div>
    <div class="container equal-columns--clear">
        <div class="one-whole columns small-down—one-whole">
            <h2 style="text-align: center;">Who We Are</h2>
            <p style="text-align: left;">Starting in 2014 out of our family workshop in Como, Italy; we have teamed up with 8 fellow Italian <i>artigiani</i> or craftsmen, all very eager to showcase their artisanal heritage and quintessential designs. (read more on <a href="https://www.40colori.com/pages/our-artisans" title="Our Artisans | 40 Colori Made in Italy">Our Artisans</a>)</p>
            <p style="text-align: left;">From hand-hemmed tips to hand-stitched shoulders, our artisans craft all 40 Colori garments and accessories according to the highest quality standards to create hard-wearing everyday pieces for a timeless casual elegance.</p>
            <p style="text-align: left;">To make this happen, we provide them with the canvas to turn into their next creation. We travel around Italy, visiting mills and merchants to find the best fabrics and yarns, making sure they are natural, colourful and responsibly sourced. (read more on <a href="https://www.40colori.com/pages/materials" title="Our Materials | 40 Colori Made in Italy">Our Materials</a>)</p>
            <h2 style="text-align: center;">How We Work</h2>
            <p style="text-align: left;">We opted for a direct-to-artisan distribution model focused on made-to-order and custom services to ensure that we produce as much as possible what is needed exactly as needed by the final customer, with less compromises and wasteful use of resources. All with honest pricing, because more meaningful buying should not be a luxury. (read more on <a href="https://www.40colori.com/pages/our-approach" title="Our Approach | 40 Colori Made in Italy">Our Approach and Ethical Quality</a>)</p>
            <p style="text-align: left;">Shop now our core collection of timeless designs that we truly love. Our core collection is rarely available immediately and always available on demand. Anything not in stock, you can have it Made to Order and our artisans will craft any sold out size or style exclusively for you in 3-6 weeks. (read more on <a href="https://www.40colori.com/pages/made-to-order" title="Made to Order | 40 Colori Made in Italy">Made to Order</a>)</p>
            <p style="text-align: left;">If you are feeling creative or if you can't find the style or fit that you are looking for, our custom offer is the answer. With our Custom Made and Made to Measure services, you can customize our designs and have our artisans craft each garment or accessory exactly as you want, to your perfection, with no compromise on style or fit! Visit us in our Bloomsbury store to enjoy the full 40 Colori experience! Alternatively, <a href="https://www.40colori.com/pages/our-location-and-contacts" title="Contact &amp; Appointment Booking | 40 Colori Made in Italy">book an online consultation</a> to get started with your custom project. (read more on <a href="https://www.40colori.com/pages/custom-made" title="Custom Made | 40 Colori Made in Italy">Custom Made</a>) (read more on <a href="https://www.40colori.com/pages/made-to-measure" title="Made to Measure | 40 Colori Made in Italy">Made to Measure</a>)</p>
        </div>
    </div>
    <hr>
    <div class="container equal-columns--clear">
        <div class="three-fourths columns small-down--one-whole"><img src="https://cdn.shopify.com/s/files/1/0712/8273/files/About-Us.jpg?1655722238729982550" alt="about us"></div>
        <div class="one-fourth columns small-down--one-whole"><img src="https://cdn.shopify.com/s/files/1/0712/8273/files/New-About-Us-Image.png?1276234868116887889" alt="about us"></div>
    </div>
</div>