@page
@model nexgen.Web.RazorPages.Pages.MedicineModel
@{
    ViewData["Title"] = "Faculity Of Medicine";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Index">home</a></li>
                        <li>Faculity Of Medicine</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--contact area start-->
<div class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="contact_message content">
                    <h3>Faculity Of Medicine</h3>
                    <p>

                        The Bachelor of Medicine and Surgery program at the College of Medicine and Health Sciences -
                        University of Science and Technology - seeks to graduate doctors who are scientifically and
                        technically qualified in research, competitive locally and regionally,
                        committed to the ethics of the medical profession and capable of continuous learning,
                        to contribute to improving the local and global health situation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--contact area end-->
