@page
@model nexgen.Web.RazorPages.Pages.NursingModel
@{
    ViewData["Title"] = "Faculity Of Nursing";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Index">home</a></li>
                        <li>Faculity Of Nursing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<!--contact area start-->
<div class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="contact_message content">
                    <h3>Faculity Of Nursing</h3>
                    <p>

                        The college is concerned with developing human resources,
                        improving educational programs for the nursing profession,
                        and providing nursing care based on research evidence for individuals, families,
                        and the community.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--contact area end-->