@page
@model nexgen.Web.RazorPages.Pages.PharmacyModel
@{
    ViewData["Title"] = "Faculity Of Pharmacy";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Index">home</a></li>
                        <li>Faculity Of Pharmacy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--contact area start-->
<div class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="contact_message content">
                    <h3>Faculity Of Pharmacy</h3>
                    <p>
                        1. Providing students with scientific knowledge related to various pharmaceutical
                        sciences. 
                        <br />
                        2. Providing practical training for students to develop their skills in practicing
                        the profession of pharmacy. 
                        <br />
                        3. Working to create a spirit of specialization 
                        and raise the values ​​and ethics of work in the profession of pharmacy. 
                        <br />
                        4. Graduating qualified pharmacists equipped with scientific pharmaceutical 
                        knowledge that qualifies them to work in various fields of pharmacy.
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--contact area end-->