@page
@model nexgen.Web.RazorPages.Pages.UniversitiesModel
@{
    ViewData["Title"] = "The University of Science and Technology";
}


<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Index">home</a></li>
                        <li>The University of Science and Technology</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--contact area start-->
<div class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="contact_message content">
                    <h3>The University of Science and Technology</h3>
                    <p>
                        The University of Science and Technology is the jewel of Jordanian universities,
                        as described by the late great Hussein, may God have mercy on him.

                        It is, like other institutions in the country,
                        in the eyes and heart of the master of the country,
                        my master, His Majesty King Abdullah II Ibn Al Hussein.

                        It is an icon of education and scientific research in our beloved country.
                        It includes the best of the best faculty members and administrative staff.

                        A group of the best sons of the country seek knowledge there,
                        in addition to a large group of students from sisterly and friendly countries.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--contact area end-->